* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial, Helvetica, sans-serif';
}
body {
  background-color: lightgray;
}
.cab {
  display: flex;
  flex-wrap: wrap;
}
.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100px;
  align-items: center;
  flex: 3 1 100vw;
  padding: 30px 30px 0px 30px;
  font-size: 15pt;
  background-color: #60626B;
}
.top h1{
  margin-left: -420px;
}
.baix {
  display: flex;
  font-style: italic;
  justify-content: space-between;
  flex: 20 1 100vw;
  height: 100px;
  font-size: 15pt;
  color: #BDC1EB;
  background-color: #373030;
  box-shadow: 0px 16px 16px rgba(55, 48, 48, 0.62);
  
}
a{
  color: #BDC1EB;
  text-decoration: none;
}
.baix a:hover {
  color: #00BDFF;
  cursor: pointer;
  font-weight: bold;
  transition: 0.8s;
}
  #links {
    width: 100%;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    left: 0;
    justify-content: space-between;
    padding: 0px 90px 30px 90px;

    text-align: center;
    align-items: center;

  
    color: #353DC2;
  }
#btn {
  font-size: 20px;
  background: none;
  font-weight: 600;
  border: none;
  width: 35px;
  border-radius: 50px;
  color: white;
  padding: -5px;
  margin-top: -20px;
  border: 50px;
  display: none;
}
.login {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #0015F5;
  font-weight: bold;
  border: 1px solid #1A1CFF;
}
#cd {
  border-radius: 50%;
}
#text {
  display: none;
}
#x {
  border: none;
  background: none;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 20pt;
  color: #9C0000;
  display: none;
}
@media(max-width: 600px) {
  .login, .links {
    display: none;
  }
  .top h1 {
  margin-left: 0;
  }
  *{
    font-size: 15pt;
  }
  .top{
  
    height: 60px;
    gap: 80px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    box-shadow: 0px 16px 16px rgba(4, 3, 42, 0.28);
  }
  #x {
    display: inline-block;
  }
  #btn {
    display: inline-block;
  }
  #links {
    
    display: none;
    height: 100vh;
    background-color: #9A9BA3;
    z-index: 8;
    position: fixed;
    top: -30px;
    width: 100%;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    left: 0;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 120px 0px 120px 0px;
    color: #353DC2;
  }

  .links a, #text a {
        color: #023863;
        font-size: 13pt;
    
  }
  #text {
    font-size: 13pt;
    display: block;
     font-style: italic;
     color: #266AA4;
  }
}

a:hover {
  color: #6000FF;
  transition: 0.8s;
}



main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
#el {
  display: flex;
  border: 1px solid #11045B;
  margin: 10px;
  flex: 3 1 25vw;
  flex-wrap: wrap;
  height: 200px;
  
  background: linear-gradient(130deg, #081C2987, #03060A7A), url('placa_1.jpeg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CFE8F8;
  font-style: italic;
  font-weight: bold;
  font-size: 12pt;
}
#el:hover, #Qi:hover, #prog:hover, #Arduino:hover, #inf:hover, #mt:hover, #tec:hover {
  box-shadow: 4px 4px 4px 0px rgba(49, 83, 255, 0.4);
  transition: 0.3s;
}
#Arduino {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 3 1 25vw;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060A7A), url('Arduino.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
.no {
  color: #FFFFFF;
}
#prog {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 3 1 500px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('prog.jpeg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CFE8F8;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
#Qi {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 3 1 100vw;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('Qi.jpeg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
h1,section {
  display: flex;
  flex: 5 1 100vw;
  text-align: center;
  padding-bottom: 30px;
  justify-content: center;
  
}
section {
  margin-top: 30px;
  font-size: 18pt;
}
#inf {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 1 1 200px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('inf.jpg');  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
#mt {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 2 1 500px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('mder.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
#tec {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 1 1 200px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('tec.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
#Ia {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 1 1 200px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('Ia.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}

aside {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
#quem {
  display: flex;
  gap: 10px;
  margin: 4px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Arial, Helvetica, sans-serif';
  height: 100px auto;
  width: 95%;
  border: none;
  padding: 10px;
  background-color: #F2F3FF;
  border-radius: 5px;
  box-shadow: 0px 25px 16px rgba(11, 20, 121, 0.35);
}
#PA {
  display: flex;
  border: 1px solid #FFAB00;
  margin: 10px;
  flex: 1 1 200px;
  height: 200px;
  background: linear-gradient(130deg, #081C2987, #03060AA8), url('logo.png');
  background-repeat: no-repeat;
  
  background-size: cover;
  background-position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  font-size: 15pt;
}
#coment {
  border-radius: 10px;
  display: flex;
  border: 1px solid #FFAB0000;
  margin: 2px;
  flex: 1 1 95vw;
  color: #050021;
  height: 300px;
  background: linear-gradient(130deg, #B8E1FC87, #E1E6ECA8);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
}
.t{
  
  padding: 20px;
  border: 1px solid deepskyblue;
  outline-color: #05CFFF;
  width: 98%;
  margin-top: 20px;
  font-style: none;
  font-size: 12pt;
  color: #050021;
  border-radius: 20px;
}
#send {
  margin-left: 30px;
  height: 50px;
  width: 40%;
  color: white;
  background-color: #2F05FF;
  border: none;
  border-radius: 10px;
  font-size: 12pt;
}
#mensagem {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 13pt;
}
#mensagem:hover {
  color: #EEFFE4;
}
footer {
  margin-top: 30px;
  background-color: rgba(11, 20, 121, 0.87);
  height: 100px auto;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;

}
section {
  color: #04032A;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}
section h5 {
  margin-top: -20px;
  display: flex;
  flex: 1 1 100vw;
  font-size: 12pt;
  justify-content: center;
}
#eu {
  display: flex;
  flex: 1 1 50px;
  height: 100px auto;
  font-size: 12pt;
  margin: 4px;
  text-align: center;
  justify-content: center;
}
#gl {
  display: flex;
  flex: 1 1 50px;
  height: 100px auto;
  margin: 4px;
  text-align: center;
  justify-content: center;
  font-size: 12pt;
}
#lb {
  display: flex;
flex: 1 1 50px;
height: 100px auto;
margin: 4px;
text-align: center;
justify-content: center;
font-size: 12pt;
}
#dn {
  display: flex;
  flex: 1 1 100vw;
  height: 100px auto;
  margin: 4px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  font-size: 12pt;
}
#PAb {
  color: #B7D3FF;
}
#visionary {
  font-size: 12pt;
  font-weight: 500;
  font-style: italic;
}